
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Generated Sign</h1>
<ul class="list-group">
    <li>
        <b>To install an office sign: </b>
        <ul>
            <li>Slightly lift the top of the black frame.</li>
            <li>Locate the small notch opening, and using a small screwdriver remove the clear plastic cover</li>
            <li>Replace the sign.</li>
            <li>Slightly lift the top to reinsert the clear cover into the notch.</li>
        </ul>
    </li>
    <li>
    <b>To install a cubicle sign: </b>
    <ul>
        <li>Remove one of the black side caps by pulling outward.</li>
        <li>Slide out the insert and replace the sign.</li>
        <li>Return the black side cap to its original position.</li>
    </ul>
    <li>
        <b>To install a department wall sign:</b>
        <ul>
            <li>Remove the wall directory from the bracket by carefully lifting it upward – caution, it’s heavy.</li>
            <li>Use a screwdriver to remove the screws on both sides of the directory and remove the side pieces.</li>
            <li>Remove the old signs by sliding them out and replace them with the new signs.</li>
            <li>Alphabetize the complete listing.</li>
            <li>Replace the metal side piece and screws.</li>
            <li>Carefully rehang the sign.</li>
        </ul>
    </li>
</ul>
<a class="btn btn-custom btn-lg" href="/template/built/@TempData["GeneratedFile"]">View Generated Sign</a>
