
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Generated Sign</h1>
<ul class="list-unstyled">
    <li>Below is the generated Word Document. Please print, cut, and install.</li>
    <li>To install a cubicle sign: remove side piece, replace sign by sliding it out, replace side piece.</li>
    <li>To install a department sign: unscrew screws on side of sign, remove side piece, replace signs by sliding them out, alphabetize, replace sides and screws.</li>
</ul>
<a class="btn btn-custom btn-lg" href="/template/built/@TempData["GeneratedFile"]">View Generated Sign</a>
