
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results</h1>
<h3>Thank you for using this application, below is the generated Word Document. Please print and use.</h3>
<br />
<a class="btn btn-info" href="/template/built/@TempData["GeneratedFile"]" >View Generated Sign</a>

