
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Generated Sign</h1>
<ul class="list-unstyled">
    <li>
    To install an office door sign: Slightly lift the top of the black frame, locate the small cut out space, use a small screwdriver or another object,
    and lift it. Pull the clear plastic forward and remove it. Replace the door sign and reinstall the clear plastic cover.
</li>
    <li>To install a cubicle sign: remove one of the black side pieces by pulling outward. Slide-out the insert and replace the sign. Replace the black end piece and slide it back into the original position.</li>
    <li>To install a sign insert in the department wall directory: Remove the wall directory from the two brackets on the wall by carefully lifting it upward. Be careful as it is heavy. Use a small screwdriver to remove the screws on both sides of the directory and remove the side pieces. Pull out the sign inserts that need to be replaced and insert the new ones, keeping in mind that they might need to be alphabetized again. Reinsert the sign inserts and replace the sides and screws. Carefully rehang the sign.</li>
</ul>
<a class="btn btn-custom btn-lg" href="/template/built/@TempData["GeneratedFile"]">View Generated Sign</a>
