
@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results</h1>
<p>Thank you for using this application, below is the generated Word Document. Please print and use.</p>
<a class="btn btn-custom btn-lg" href="/template/built/@TempData["GeneratedFile"]">View Generated Sign</a>
