@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Are you ready for your door sign?</h1>
    <p>What are you waiting for,  <a class="btn btn-primary" asp-action="Start" asp-controller="SignBuilder" asp-route-numEmployees="1">Start Here</a>.</p>
</div>
