@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img src="~/template/previews/bec-evening-1850x530 (1).png" alt="business education complex picture" class="img-fluid rounded img-thumbnail"/>
    </div>
    <h1>Sign Type</h1>
    <a class="btn-lg btn-custom" asp-action="Office" asp-controller="SignBuilder" asp-route-numEmployees="1">OFFICE</a>
    <a class="btn-lg btn-custom" asp-action="Cubicle" asp-controller="SignBuilder" asp-route-numEmployees="1">CUBICLE</a>
    <a class="btn-lg btn-secondary" style="color:#000000" disabled>MISC</a>
    <br />
    &nbsp;
    <p class="text-muted align-text-bottom">This tool was created by External Relations. If you have any questions please email us at oursowebmaster@lsu.edu</p>
</div>
