@{
    ViewData["Title"] = "Addidtional Information";
}
    <div>
        <h1>Additional Information</h1>

        <p>This application was developed to help streamline the update process for door signs across all departments</p>
        <ul>
            <li>Lead Developer: Anthony Shaidaee (ashaid2@lsu.edu)</li>
            <li>Project Manager: Will Boler (wboler1@lsu.edu)</li>
        </ul>

        If you have any suggestions/problems/etc please contact us at oursowebmaster@lsu.edu
    </div>

