@{
    ViewData["Title"] = "Addidtional Information";
}
    <div>
        <h1>Additional Information</h1>

        <p>This application was developed to help streamline the update process for door signs across all departments.</p>
        <ul>
            <li>Developer: Anthony Shaidaee (ashaid2@lsu.edu) <a href="https://github.com/ashaid" target="_blank"><img src="~/template/previews/GitHub-Mark-64px.png" class="img-fluid" alt="GitHub logo" height="32" width="32" /></a></li>
            <li>Project Manager: Will Boler (wboler1@lsu.edu) <a href="https://www.linkedin.com/public-profile/in/willboler?challengeId=AQEL4xN6xonw2QAAAXQNofGhkuerLmgyIU6L-fzDpOHfeAMQT39VjHoZXF4x3vUrbb2OHpg_0oFvUSJh-6xppRfOnLlZqs53EA&submissionId=e44e1b45-0415-2d16-c442-62bf5b1a1804" target="_blank">
                <img src="~/template/previews/LI-In-Bug.png" class="img-fluid" alt="LinkedIn Logo" height="32" width="32"/></a></li>
        </ul>
        <a href="https://github.com/ashaid/cob-door-sign-web-public">View the source code.</a>
        If you have any suggestions/problems/etc please contact us at oursowebmaster@lsu.edu.
    </div>

